/* Setup */
html {
    font-size: 12px;
}

body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: #d4e9e7;
    margin: auto;
    width: 800px;
    height: 1275px;
}

/* Header */
header h1 {
    color: white;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    position: relative;
    bottom: 150px;
}

header img {
    width: 100%;
}

/* Navigation */
header nav {
    text-align: center;
    position: relative;
    bottom: 120px;
    right: 25px; 
}

header nav ul li {
    display: inline-block;
    width: 250px;
    font-size: 1.75em;
    text-transform: uppercase;
    border-right: 1px solid black;
    padding: 5px 0;
}

header nav ul li:last-child {
    border-right: none;
}

header nav a {
    color: black;
    text-decoration: none;
}

/* Article (Life of a Starfish) */
article {
    position: relative;
    bottom: 125px;
    padding: 0 10px;
}

article h2 {
    font-size: 2.25em;
    font-weight: normal;
    position: relative;
    top: 10px;
}

article img {
    float: left;
    width: 200px;
    padding-right: 15px;
    padding-bottom: 5px;
}

article p {
    font-size: 1em;
    line-height: 1.5em;
}

/* Section (Facts & Contact) */
section {
    position: relative;
    bottom: 120px;
    padding: 0 10px;
}

section h3 {
    font-size: 2em;
    font-weight: normal;
}

section ul{
    padding-left: 15px;
    position: relative;
    bottom: 15px;
}

section ul span {
    position: relative;
    right: 5px;
}

/* Form */
section #contact {
    position: relative;
    bottom: 15px;
}
section form {
    border: 1px solid black;
    padding: 20px 10px;
    position: relative;
    bottom: 25px;
    height: 360px;
}

form label {
    font-size: 1.25em;
    display: block;
    line-height: 2em;
}

form input, form textarea {
    width: 750px;
    margin-bottom: 10px;
}

form textarea {
    height: 75px;
}

form h4 {
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
    bottom: 15px;
}

form input[type='radio'] {
    width: auto;
}

form span {
    display: inline-block;
    position: relative;
    bottom: 25px;
}

form .radio {
    display: inline-block;
}

form button {
    background-color: #d4e9e7;
    border: 1px solid black;
    font-size: 0.75em;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    position: relative;
    bottom: 20px;
}

/* Footer */
footer h6 {
    font-size: 1.2em;
    font-weight: normal;
    text-align: right;
    position: relative;
    bottom: 145px;
    margin: 25px;
}