html {
    font-size: 12px;
}

body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: #d4e9e7;
    margin: auto;
    width: 800px;
}

header h1 {
    color: white;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    position: relative;
    bottom: 150px;
}

header img {
    width: 100%;
}

header nav {
    text-align: center;
    position: relative;
    bottom: 120px;
    right: 25px;
}

header nav ul li {
    display: inline-block;
    width: 250px;
    font-size: 1.8em;
    text-transform: uppercase;
    border-right: 1px solid black;
}

header nav ul li:last-child {
    border-right: none;
}

header nav a {
    color: black;
    text-decoration: none;
}

article {
    position: relative;
    bottom: 125px;
    padding: 0 10px;
}

article h2 {
    font-size: 2.5em;
    font-weight: normal;
    position: relative;
    top: 10px;
}

article img {
    float: left;
    width: 175px;
    padding-right: 15px;
}

article p {
    line-height: 1.5em;
}

footer h6 {
    font-size: 1em;
    text-align: right;
}