html {
    /* sets default font size */
    font-size: 12px;
}

body {
    /* sets default font */
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    /* sets maximum width of container */
    max-width: 1200px;

    margin: 0 auto;
}

header {
    background-color: #222;
    padding: 2rem;
}

.logo-box {
    background-color: #c78c06;
    padding: 2rem 0;
}

.logo-box img {
    width: 150px;
}

.nav-home a {
    color: #222;
    position: relative;
    top: 2rem;
}

nav ul li {
    padding: 3rem;
}

nav ul li a {
    font-size: 2.25rem;
    text-decoration: none;
    color: #c78c06;
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
}

#search {
    padding: 1rem;
    font-size: 2.5rem;
    /* aligning search bar with yellow container */
    width: calc(100% - 1rem);
}

.search button {
    background-color: #222;
    border: 1.5px solid #c78c06;
    width: 6%;
}

.search .fa-magnifying-glass {
    color: #c78c06;
    font-size: 3rem;
}


/* media query for desktop */
@media screen and (min-width: 760px) {
    
}