/* MOBILE-FIRST APPROACH */

html {
    /* sets default font size */
    font-size: 12px;
}

body {
    /* sets default font */
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    margin: 0 auto;
    /* sets maximum width of container */
    max-width: 1200px;
}

/* sets default font styles */
h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    font-size: 3.25rem;
    font-weight: bold;
}

h3 {
    font-size: 2.25rem;
    font-weight: bold;
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* HEADER */

header {
    background-color: #222;
    padding: 1rem;
}

.logo-box {
    background-color: #c78c06;
    padding: 1rem 0;
}

.logo-box img {
    width: 80px;
}

.nav-home {
    background-color: #c78c06;
}

.nav-home a {
    color: #222;
}

nav ul li {
    padding: 1.5rem;
}

nav ul li a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #c78c06;
    /* center-aligning navigation */
    display: flex;
    justify-content: center;
}

.search {
    /* center-aligning search bar */
    display: flex;
    justify-content: center;
}

#search {
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 0.5px solid #222;
    border-radius: 3px;
    /* aligning search bar with yellow container */
    width: calc(100% - 1rem);
}

.search button {
    background-color: #222;
    border: 1px solid #c78c06;
    width: 2.5rem;
}

.search .fa-magnifying-glass {
    color: #c78c06;
    font-size: 1.5rem;
}

/* MAIN BANNER */

.main-wrapper {
    /* positioning background image */
    background-image: url(/final-project/images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 40rem;
    /* positioning text over background image */
    display: flex;
    align-items: center;
}

.main-box {
    background-color: rgb(34,34,34,75%); /* changing opacity */
    color: #fff;
    padding: 1rem;
    padding-top: 2rem;
}

.main-box h1 {
    line-height: 7rem;
    padding: 1rem 0;
}

.connect-btn {
    background-color: #c78c06;
    width: fit-content;
    padding: 2rem 2rem 2.5rem;
    margin-top: 1rem;
}

.connect-btn a {
    color: #222;
    text-decoration: none;
    font-size: 1.5rem;
}

.connect-btn .fa-caret-right {
    font-size: 2rem;
    padding-left: 1rem;
    /* positioning */
    position: relative;
    top: 0.25rem;
}

/* ABOUT */

.about-wrapper {
    background-color: #ffe6ac;
    padding: 1rem;
}

.about-wrapper img {
    width: 100%;
}

.about-box h2 {
    padding: 2rem 0 1.5rem;
}

.about-box p {
    padding-bottom: 1rem;
}

/* SERVICES */

.services-wrapper {
    margin: 0 1rem;
}

.services-wrapper h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.services-wrapper section {
    background-color: #ffe6ac;
    margin: 1rem 0;
}

.services-wrapper section img {
    width: 100%;
    padding-bottom: 1.5rem;
}

.services-box {
    padding: 1rem;
}

.services-box p {
    padding: 1.5rem 0 1rem;
}

.plans-btn {
    background-color: #222;
    width: fit-content;
    padding: 2rem 2rem 2.5rem;
}

.plans-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.plans-btn .fa-caret-right {
    font-size: 2rem;
    padding-left: 1rem;
    /* positioning */
    position: relative;
    top: 0.25rem;
}

/* VISION */

.vision-wrapper {
    margin: 1rem 0;
    /* positioning background image */
    background-image: url(/final-project/images/vision.jpg);
    background-position: center;
    background-size: cover;
}

.vision-box {
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
}

.vision-box h3 {
    padding: 1.5rem 0;
}

.vision-box p {
    padding-bottom: 1rem;
}

.vision-btn {
    background-color: rgb(0,0,0,60%); /* changing opacity */
    border: 1px solid #c78c06;
    width: fit-content;
    padding: 2rem 2rem 2.5rem;
}

.vision-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.vision-btn .fa-caret-right {
    font-size: 2rem;
    padding-left: 1rem;
    /* positioning */
    position: relative;
    top: 0.25rem;
}

/* TEAM */

.team-wrapper {
    padding: 0 1rem;
}

.team-wrapper h2 {
    padding: 2.5rem 0 1.5rem;
}

.team-box img {
    width: 100%;
}

/* selecting boxes that contain text, not images */
.team-box:nth-child(2),
.team-box:nth-child(4) {
    background-color: #ffe6ac;
    margin: -0.2rem 0 1rem;
    padding: 1.5rem 1rem;
}

.team-box h4 {
    padding-top: 0.75rem;
}

.team-box hr {
    border: 1px solid #c78c06;
}

.team-box p {
    padding: 0.5rem 0 0.25rem;
}

/* CONTACT */

.contact-wrapper {
    margin: 1rem;
    margin-top: 4rem;
}

.contact-wrapper h2 {
    padding: 1rem 0;
}

.contact-wrapper h3 {
    padding: 1.5rem 0;
}

.form label {
    font-size: 1rem;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #222;
    border-radius: 3px;
}

.form input {
    height: 2rem;
}

.form textarea {
    height: 10rem;
}

.form button {
    background-color: #222;
    color: #c78c06;
    border: none;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0.4rem;
}

.hours h3 {
    margin: 0.5rem 0 -0.5rem;
}

.hours table {
    width: 100%;
}

.hours table,
.hours th,
.hours td {
    border: 1px solid #222;
    font-size: 1rem;
    padding: 1rem;
}

.hours th {
    background-color: #ffe6ac;
}

.location {
    margin: 0.5rem 0;
}

.location iframe {
    width: 100%;
    height: 375px;
    margin: -0.5rem 0 0.5rem;
}

/* FOOTER */

footer {
    background-color: #222;
    padding: 1rem;
}

footer p {
    color: #c78c06;
    padding-top: 1rem;
}

/* DESKTOP VERSION */

@media screen and (min-width: 760px) {

    /* adjusting default font sizes */
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.1rem;
    }
    
    /* HEADER */

    .header-wrapper {
        /* aligning all header content */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-box {
        background-color: #222;
    }

    .logo-box img {
        width: 80px;
        margin-right: 4rem;
    }

    .nav-home,
    nav ul li {
        /* making nav a row instead of a column */
        display: inline-block;
        box-sizing: border-box;
        padding: 1.75rem 3rem;
    }

    nav ul li a {
        font-size: 1.25rem;
    }

    #search {
        width: 75%;
        padding: 0.75rem;
    }

    /* MAIN BANNER */

    .main-wrapper {
        /* centering banner over image */
        justify-content: center;
    }

    .main-box {
        width: 80%;
    }

    .main-box h1 {
        line-height: 8rem;
    }

    /* ABOUT */

    .about-wrapper {
        display: flex;
        padding: 1rem 10rem;
    }

    .about-wrapper img {
        width: 50%;
        height: 80%;
        padding-bottom: 0.5rem;
    }

    .about-box {
        padding: 0 1rem;
    }

    .about-box h2 {
        padding: 1rem 0 2rem;
    }
    
    /* SERVICES */

    .services-wrapper {
        margin: 0 10rem;
    }

    .services-wrapper h2 {
        margin-bottom: 1rem;
    }

    .services-wrapper section {
        margin: 0;
    }

    /* assigning grid areas for rearrangement */
    .services-grid section:nth-child(1) {
        grid-area: digital;
    }
    .services-grid section:nth-child(2) {
        grid-area: marketing;
    }
    .services-grid section:nth-child(3) {
        grid-area: video;
    }
    .services-grid section:nth-child(4) {
        grid-area: web;
    }
    .services-grid section:nth-child(5) {
        grid-area: print;
    }

    /* rearranging elements */
    .services-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        grid-template-areas: 
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "digital digital digital marketing marketing marketing"
        "video video web web print print"
        "video video web web print print"
        "video video web web print print";
    }

    /* VISION */

    .vision-box {
        margin: 2rem 10rem;
    }

    /* TEAM */

    .team-wrapper {
        margin: 0 10rem;
        padding: 0;
    }

    .team-members {
        display: flex;
        flex-wrap: wrap;
    }

    .team-box {
        box-sizing: border-box;
        width: 50%;
        height: 325px;
    }

    .team-box img {
        height: 325px;

    }

    .team-box:nth-child(2),
    .team-box:nth-child(4) {
        margin: 0;
    }

    /* rearranging elements */
    .team-box:nth-child(3) {
        order: 1;
    }

    /* CONTACT */

    .contact-wrapper {
        margin: 4rem 10rem 1rem;
    }

    .contact-wrapper h2 {
        padding-bottom: 3rem;
    }

    .contact-box {
        display: flex;
        flex-wrap: wrap;
    }

    .contact:nth-child(2) {
        order: 1;
    }

    .form {
        box-sizing: border-box;
        width: 50%;
        padding-right: 1rem;
    }

    .location {
        box-sizing: border-box;
        width: 50%;
        padding-left: 1rem;
    }

    .hours {
        width: 100%;
    }

    /* FOOTER */

    footer {
        padding: 1rem 10rem;
    }

}